

#mainWrapper{
    background: url("../img/bluebck.jpg");
    color: white;
    margin-bottom: 0;
}

#callCenter{
    background: url("../img/callcenterbanner.png");
    background-size:cover ;
    color: white;
    min-height: 350px;
    max-height: 350px;
    margin-bottom: 0;
}

#timeChecker{
    background: url("../img/time2.png");
    background-size: contain;
    background-position: center;
    background-size:cover ;
    color: white;
    min-height: 350px;
    max-height: 350px;
    margin-bottom: 0;
}

#appLauncher{
    margin-top: 220px;
}

#citaAc{
    font-size: 2em;
}

#loggedInAs{
    background: rgba(0,0,0, 1);
    height: 25px;
    line-height: 25px;
    margin-top: 0 ;
    color: white;
    padding-left: 5px;
}

#formSizer{
    width: 70%;
    margin: 0 auto;
}

#whitePane{
    min-height: 205px;
    background: white;
}

.linkToModule{
	width: 150px;
}


#displayContainer{
    width: 100%;
    padding-bottom: 20px;
    margin: auto;
    padding-top: 20px;
}

#callCenterTitle{
    font-family: "Francois one";

}